@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

@font-face {
  font-family: 'DM Sans';
  font-style: normal;
  src: local('DM Sans Bold'), local('DMSans-Bold'),
  url('DMSans-Medium.ttf') format('truetype');
}

@font-face {
  font-family: 'DM Sans';
  font-style: normal;
  src: local('Microsoft Sans Serif'), local('DMSans-Bold'),
  url('DMSans-Medium.ttf') format('truetype');
}

@font-face {
  font-family: 'Microsoft Sans Serif';
  font-style: normal;
  src: local('DM Sans Bold'), local('DMSans-Bold'),
  url('micross.ttf') format('truetype');
}

@font-face {
  font-family: 'Microsoft Sans Serif';
  font-style: normal;
  src: local('Microsoft Sans Serif'), local('DMSans-Bold'),
  url('micross.ttf') format('truetype');
}

@font-face {
  font-family: 'Chivo';
  font-style: normal;
  src: local('Chivo'), local('DMSans-Bold'),
  url('Chivo-Italic.ttf') format('truetype');
}

@font-face {
  font-family: 'Chivo';
  font-style: normal;
  src: local('Chivo'), local('DMSans-Bold'),
  url('Chivo-Italic.ttf') format('truetype');
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}
